<h1>Welcome to Random Disaster</h1>
<h2> A Collective Diary for the Collective COncioussness</h2>
<h2>Co-Authors</h2>
<ul>
  <% @users.each do |user| %>
    <li><%= user.first_name + " " +  user.last_name %></li> 
    
  <% end %>
</ul>
<div>
	<%= image_tag "unicorn.jpg" %>
</div>	

